@use 'sass:math';

.blog {
  .posts {
    padding: $base-padding $base-padding;
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }

    gap: $base-padding * 2 $base-padding;

    .post-card {
      display: block;
      padding: $base-padding 0;
      border: math.div($base-border-thickness, 8) solid #eee;
      border-radius: math.div($base-border-radius, 4);
      .divider {
        border-bottom: 1px solid #eee;
      }
      .post-card-title {
        padding: 0 $base-padding math.div($base-padding, 3) $base-padding;
        font-size: $font-size-lg;
      }
      .post-card-content {
        font-size: $font-size-md;
        padding: $base-padding;
      }
    }
  }
}
