%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0; /* default closed position */
  width: 100%;
  color: #fff;
  transition: width 0.3s ease-in-out;
  box-shadow: 0;
  z-index: 999;
  @extend %flex-layout;
  padding: $base-padding 0;
  box-shadow: $base-box-shadow;
  .site-title {
    font-size: $font-size-lg;
  }
  .container {
    @extend %flex-layout;
  }
  .nav-toggler {
    width: 64px;
  }
}

.branding-text {
  font-size: $font-size-lg;
  font-weight: 700;
  margin-right: $base-padding;
  cursor: pointer;
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
